<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.nd.crc.paperanalyticaldevices" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_pads"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.PaperAnalyticalDevices" >
        <activity
            android:name=".AboutActivity"
            android:label="@string/about"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            />
        <activity
            android:name=".UploadQueueActivity"
            android:exported="false"
            android:label="@string/title_activity_queue"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="edu.nd.crc.paperanalyticaldevices.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Camera2Activity"
            android:exported="false"
            android:screenOrientation="landscape"

            android:theme="@style/Theme.PaperAnalyticalDevices.Material.NoActionBar"
            />
        <activity
            android:name=".ResultActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" >
            <intent-filter android:label="@string/activity_result" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="result"
                    android:scheme="pad" />
            </intent-filter>
        </activity>
    </application>

</manifest>